@import 'variables.scss';

$border-radius: 0.375rem;

.nav-tabs {
  display: flex;
  overflow-y: hidden;
  border-bottom: 1px solid $grey-80;
  min-height: 42px;

  .nav-item {
    display: flex;
    overflow-y: hidden;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 0.5rem 1rem;
    color: $blue;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .nav-item:hover {
    border-color: $grey-90;
  }

  .nav-item.active {
    color: $grey-10;
    border-color: $grey-80;
    border-bottom-color: transparent;
    background-color: $grey-100;
    pointer-events: none;
  }
  a:-webkit-any-link {
    color: unset;
  }
  .nav-link {
    cursor: pointer;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
  }
  .tab-close {
    cursor: pointer;
    fill: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  .nav-item .tab-close:not(:hover) {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }
}
