
<ng-container *ngIf="items">
  <div class="nav-tabs mb-3">
      <ng-container *ngFor="let item of items; index as i">

        <!-- avec routerLink -->
        <ng-container *ngIf="item.link; else noLink">
          <div class="nav-item"[routerLinkActive]="'active'">
            <a *ngIf="item.link"class="nav-link" [routerLink]="[item.link]" [title]="item.name">{{ item.name }}ok</a>
          </div>
        </ng-container>

         <!-- sans routerLink -->
        <ng-template #noLink>
          <div class="nav-item" [ngClass]="i === selected ? 'active' : ''">
            <a class="nav-link" (click)="onChangeTab(i)" [title]="item.name">{{ item.name }}</a>
            <ng-container *ngIf="item.closable">
                <app-icon size="12px" path="close" class="ml-3 tab-close" (click)="onCloseTab(i)"></app-icon>
            </ng-container>
          </div>
        </ng-template>

      </ng-container>
    </div>
</ng-container>