.check-container {
    min-height: 188px;
}

.btn-container {
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
    font-size: 12px;
    button:last-child {
        position: relative; 
    }
}