<div class="cal-cell-top">
  <div class="cal-day-number">
    <span class="fw-bold fs-6">{{ day.date | date : 'EEE' }}</span>
    <span> {{ day.date | date : 'd' }} </span>
  </div>
</div>

<div class="p-3 check-container f-grow" *ngIf="day.inMonth" [ngClass]="day.cssClass" [attr.data-publicEvent]="day.meta?.publicEvent">
  <ng-container *ngFor="let field of formFields">
    <app-input-checkbox
      [label]="field.calendarCheckbox.name"
      [(ngModel)]="field.value!"
      (onModelChange)="onCheckChange(field)"
      [readonly]="isLocked"
    ></app-input-checkbox>
  </ng-container>
</div>

<ng-container *ngIf="day.inMonth">
  <app-button-group class="btn-container">
    <button appButton outline size="small" [disabled]="isLocked" (click)="onOpenModal(modal)">
      <i class="fas fa-plus"></i>
    </button>
    <button appButton outline size="small" [ngClass]="isActive ? 'active' : ''" (click)="onDisplayComment()">
      <i class="fas fa-eye"></i> <app-badge *ngIf="comments.length > 0" [text]="comments.length"></app-badge>
    </button>
  </app-button-group>
</ng-container>

<ng-template #modal let-input>
  <app-cal-month-add-comment [input]="input" (output)="onAddComment($event)"></app-cal-month-add-comment>
</ng-template>
