<div class="cal-cell-top">
  <span class="cal-day-number">{{ day.date | calendarDate : 'monthViewDayNumber' : locale }}</span>
</div>
<div class="d-flex flex-column align-items-start p-2">
  <!-- <ng-container [formGroup]="formGroup">
    <ng-container *ngFor="let control of formGroup.controls | keyvalue">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [formControlName]="control.key"
          [id]="day.date.getDate() + control.key"
          (change)="onCheck(control)"
        />
        <label class="form-check-label" [for]="day.date.getDate() + control.key">{{ control.key }}</label>
      </div>
    </ng-container>
  </ng-container> -->
  <ng-container *ngFor="let field of formFields">
    <ng-container *ngIf="field.display(day)">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [name]="field.name"
          [(ngModel)]="field.value"
          [disabled]="isLocked"
        />
        <label class="form-check-label">{{ field.title }}</label>
      </div>
    </ng-container>
  </ng-container>
</div>
