<div class="col-between-start h-100" *ngIf="selected; else spinner">
  <div class="row gap-2">
    <app-select [options]="options" [(selected)]="selected" (selectedChange)="onSelect()"></app-select>
    <app-button-group>
      <button appButton outline (click)="onReset()" [disabled]="!isDirty">Reset</button>
      <button appButton outline (click)="onOpenModal(modal)" [disabled]="!isDirty">Save</button>
    </app-button-group>
  </div>

  <div class="row-between-stretch eq-slider-container mt-3 test">
    <ng-container *ngFor="let eq of eqs">
      <app-input-slider
        class="col-1"
        [min]="0"
        [max]="30"
        [step]="1"
        [(value)]="eq.gain.value"
        (valueChange)="onSliderChange()"
        format="1.0-0"
        [name]="eq.frequency.value | truncateFreq"
      ></app-input-slider>
    </ng-container>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #modal let-selectParam>
  <app-input-text
  class="d-block my-3"
  #inputText
  [ngModel]="selectParam.name"
  label="Nom du paramêtre"
  ></app-input-text>
  <div class="row-end-center gap-2">
    <button appButton outline (click)="onCloseModal()">Close</button>
    <button appButton outline color="green" (click)="onSave(inputText.value)">Save</button>
  </div>
</ng-template>