<div class="container row-center-center">
  <div class="range-slider col-between-center">
    <div class="col-center-center">
      <span class="scope">{{ value | number : format }}</span>
      <button class="btn-control icon" (click)="onIncrease()" tabindex="-1"><i class="fas fa-plus fa-lg"></i></button>
    </div>

    <input
      class="vertical"
      type="range"
      [max]="max"
      [min]="min"
      [step]="step"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit(value)"
    />

    <div class="col-center-center">
      <button class="btn-control icon" (click)="onDecreases()" tabindex="-1"><i class="fas fa-minus fa-lg"></i></button>
      <span class="scope">{{ name }}</span>
    </div>
  </div>
</div>
