$color-btn-extra-disabled: #6c757d;
$color-btn-extra-active: #0d6efd;
@import 'variables.scss';

.tiny {
    height: 20px;
    min-width: 24px;
}
.small {
    height: 24px;
    min-width: 24px;
}
.regular {
    height: 31px;
    min-width: 31px;
}

.btn-extra {
  cursor: pointer;
  font-size: 12px;
  border: 1px solid;
  background-color: white;
  border-color: $blue;
  color: $blue;
  &:hover:enabled {
    background-color: $blue-hover;
    border-color: $blue-hover;
    color: white;
  }
  &:active:enabled {
    filter: brightness(90%);
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  &[disabled] {
    cursor: default;
    opacity: 0.4;
    border-color: $disabled-color;
    color: $disabled-color;
  }
  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -1px;
  }
  &.active {
    background-color: $blue-active;
    color: white;
    border-color: $blue-active;
  }
}
