$color-btn-extra-disabled: #6c757d;
$color-btn-extra-active: #0d6efd;
@import 'variables.scss';

.tiny button {
    height: 20px;
    width: 20px;
    font-size: 16px;
    border: none;
    background: transparent;
    &:hover:enabled {
      color: $blue-hover;
      background-color: transparent;
    }
}
.small {
    height: 24px;
    min-width: 24px;
}
.regular {
    height: 31px;
    min-width: 31px;
}

%btn {
  cursor: pointer;
  font-size: 12px;
  border: 1px solid;
  border-radius: $border-radius;
  &:active:enabled {
    @extend %box-shadow-active;
  }
  &[disabled] {
    cursor: default;
    opacity: 0.4;
    border-color: $disabled-color;
    color: $disabled-color;
  }
}
@mixin colorBtn($bg, $border, $color) {
  background-color: $bg;
  border-color: $border;
  color: $color;
}

.appearance-outline button {
  @extend %btn;
  @include colorBtn(transparent, $grey-100, $grey-100);
  &:hover:enabled {
    @include colorBtn($blue-hover, $grey-100, $grey-100);
  }
  &.active {
    @include colorBtn($blue-active, $grey-100, $blue-active);
  }
}
.appearance-filled button {
  @extend %btn;
  @include colorBtn($grey-100, $blue, $blue);
  &:hover:enabled {
    @include colorBtn($blue-hover, $blue-hover, $grey-100);
  }
  &.active {
    @include colorBtn($blue-active, $grey-100, $blue-active);
  }
}
