<div class="row-end-center my-3">
  <app-select class="col-5" [options]="select.options" [(selected)]="select.value" [label]="select.name" (selectedChange)="onSelectChange()"></app-select>
</div>

<ng-container *ngIf="!isLoading; else spinner">
  <div *ngFor="let item of liste" class="journey">
    <div class="row-start-start f-wrap height-row-45">
      <div class="width-col-150 self-start">
        <div class="col-start-start network" [ngClass]="isTimeDisplay ? 'show' : 'hide'">
          {{ item.network }} - {{ item.headsign }}
        </div>
        <h1 [ngClass]="!isTimeDisplay ? 'show' : 'hide'">
          <span>{{ item.delay }}</span>
          <app-disruption class="absolute" *ngIf="item.disruptionId" [disruptionId]="item.disruptionId"></app-disruption>
        </h1>
      </div>

      <h1 class="width-col-150 text-center fw-semibold yellow">
        {{ item.baseHour }}
      </h1>

      <h1>
        {{ item.direction.split(' (')[0] }}
      </h1>
    </div>

    <app-liste-arret [trajetId]="item.trajetId"></app-liste-arret>
  </div>
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
