.arrivals {
  .journey {
    background-color: #017142eb;
    &:nth-child(2n) {
      background-color: #00a253eb;
    }
  }
}

.departures {
  .journey {
    background-color: #123a9feb;
    &:nth-child(2n) {
      background-color: #0365f4eb;
    }
  }
}

.yellow {
  color: #e1e929;
}

.journey {
    padding: 12px 48px;
    color: #fff;
    .network {
        font-size: 12px;
        width: 50px;
    }
    .hour {
        text-align: center;
        width: 150px;
    }
    @media (max-width: 576px) {
        padding: 8px;
    }
}