.scrolling {
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: unset;
}


.arrivals {
  .journey {
    background-color: #017142eb;
    &:nth-child(2n) {
      background-color: #00a253eb;
    }
  }
}
.departures {
  .journey {
    background-color: #123a9feb;
    &:nth-child(2n) {
      background-color: #0365f4eb;
    }
  }
}
.yellow {
  color: #e1e929;
}
.journey {
    padding: 12px 48px;
    color: #fff;
    .network {
        font-size: 1.25em;
        line-height: 1.25em;
    }
    .text-center {
        text-align: center;
    }
    .height-row-45 {
      height: 45px;
    }
    .width-col-150 {
        width: 150px;
    }
    @media (max-width: 576px) {
        padding: 8px;
    }
    .show {
      position: absolute;
      opacity: 1;
    }
    .hide {
      position: absolute;
      opacity: 0;
    }
}
