@import 'variables.scss';

.card-container {
    background-color: $grey-100;
    border-radius: .25rem;
    .card-content {
        padding: 1rem;
    }
    .header {
        border-bottom: 1px solid $grey-90;
        padding: 1rem;
        margin: 0;
    }
}