<section
  *ngIf="!loading; else spinner"
  class="scrolling row-between-stretch f-wrap cards-container"
>
  <app-card *ngFor="let card of cards" backgroundColor="hsl(0, 0%, 95%)" [isMiniCard]="true">
    <div class="relative h-100">
      <a [href]="card.link">
        <p class="date">{{ card.pubDate | date : 'fullDate' }}</p>
        <img [src]="card.img" />
        <p>{{ card.title }}</p>
        <!-- <p [innerHTML]="card.description"></p> -->
      </a>
      <div *ngIf="card.description" class="description">
        <i [appTooltip]="card.description" class="fa-solid fa-ellipsis"></i>
      </div>
    </div>
  </app-card>
</section>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
