@import 'variables.scss';


.scrolling {
    height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
  }

.cards-container {
/*   app-card {
    transition: transform .3s ease-in-out;
    &:hover {
      transform: scale(101%);
    }
  } */

  a {
    text-decoration: none;
    p {
      margin: .75rem 1rem;
    }
    .date {
      text-transform: capitalize;
      color: $grey-20;
      font-size: 1.25rem;
    }
    img {
      width: 100%;
    }
    .img-placeholder {
      aspect-ratio: 16 / 9;
      background-color: $grey-80;
    }
  }
  .description {
    position: absolute;
    bottom: 0;
    right: 1rem;
    color:$green;
  }

}
