<app-layout>
  <app-card [title]="tableSet.title">
    <div class="d-flex justify-content-end">
      <app-button icon="fas fa-plus" size="small" (click)="addNew()"></app-button>
      <app-button icon="fas fa-columns" size="small" [appPopover]="templateRef"></app-button>
    </div>
    <app-table [tableSet]="tableSet"></app-table>
  </app-card>
</app-layout>

<ng-template #templateRef>
  <h6>{{ popover.title }}</h6>
  <hr />
  <div *ngFor="let data of popover.fieldSets">
    <app-input-checkbox [data]="data" (output)="onSave($event)"></app-input-checkbox>
  </div>
</ng-template>
