<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">{{tableSet.title}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{tableSet.title}}</h5>
          <p class="card-text">{{tableSet.title}}</p>
          <div class="d-flex justify-content-end">
            <app-button icon="fas fa-plus" size="small" (click)="addNew()"></app-button>
          </div>
          <app-table [tableSet]="tableSet"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
