<ng-container [ngSwitch]="width">
  <ng-container *ngSwitchCase="'100%'">
    <div #sideBar class="sideBar">
      <button appButton filled (click)="sideBar.classList.toggle('show')"><i class="fas fa-arrow-left fa-2x"></i></button>
      <div class="sideBar-content">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="right-bar row" [ngClass]="isOpen ? 'open' : 'close'" [style.--width]="width">
      <div class="row-center-center f-grow">
        <div class="col">
          <div class="radius-inverted bottom-right"></div>
          <div class="tab-icon row-center-center">
            <app-icon color="light" (click)="isOpen = !isOpen" path="chevron-left"></app-icon>
          </div>
          <div class="radius-inverted top-right"></div>
        </div>
        <div class="tab-content">
          <ng-container [ngTemplateOutlet]="content"></ng-container>
        </div>
      </div>
    </div>

    <div class="backdrop" (click)="isOpen = !isOpen" [ngClass]="isOpen ? 'open' : 'close'"></div>
  </ng-container>
</ng-container>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
