  <ng-container *ngIf="!loading">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [cellTemplate]="customCellTemplate"
        [activeDayIsOpen]="activeDayIsOpen"
        [openDayEventsTemplate]="viewExtra"
        >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </ng-container>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <app-cal-month-cell [day]="day" [locale]="locale" [isLocked]="isLocked" [viewDate]="viewDate"></app-cal-month-cell>
</ng-template>

<ng-template #viewExtra let-isOpen="isOpen">
  <ng-container *ngIf="isOpen">
    <app-view-extra [viewDate]="viewDate"></app-view-extra>
  </ng-container>
</ng-template>

