@import 'variables.scss';

textarea {
  width: 100%;
  background-color: $grey-97;
  border: 1px solid $grey-70;
  border-radius: 0.25rem;

  line-height: 20px;
  padding: 4px 8px;
  transition: all 250ms ease-in-out;
  font-family: sans-serif;
  @extend %input-box;
}
.input-textarea-container {
  display: inline-block;
  @extend %show-input-label;
  label {
    padding: 0 8px;
    line-height: 24px;
  }
  textarea:hover + label {
    color: $green;
  }
  textarea:active + label,
  textarea:focus + label {
    transform: translateY(-100%);
    font-size: 10px;
    color: $blue;
    padding: 0;
    line-height: 15px;
    height: 15px;
  }
  textarea:not(:placeholder-shown) + label {
    transform: translateY(-100%);
    font-size: 10px;
    padding: 0;
    line-height: 15px;
    height: 15px;
  }
}
