.my-custom-class {
  color: #ff3d7f !important;
}
.drag-active {
  position: relative;
  z-index: 1;
  pointer-events: none;
  a {
    color:aqua;
    text-decoration: none !important;
  }
}
.drag-over .list-group  {
  background-color: #c73c3c37;
  .list-group-item {
    background-color: rgba(255, 255, 255, 0);
  }
}

app-predefined-event {
    a {
        text-decoration: none !important;
      }
}