<div class="card" mwlDroppable dragOverClass="drag-over">
  <h6 class="card-header">Evénements prédéfinis</h6>


  <p *ngIf="events.length === 0"><em>No events added</em></p>

  <ol class="list-group list-group-flush">
    <li *ngFor="let event of events" class="list-group-item list-group-item-action">

      <div class="ms-2 me-auto"
      mwlDraggable
      [dropData]="{event: event}"
      [touchStartLongPress]="{delay: 300, delta: 30}"
      dragActiveClass="drag-active"
      [style.color]="event.color?.primary"
      >
        <div class="fw-bold">{{ event.title }}</div>
        Content for list item
      </div>

    </li>
  </ol>

  <div class="card-footer">
    <button type="button" class="btn btn-outline-primary btn-sm">
      <i class="fas fa-plus fa-lg"></i>
    </button>
  </div>
</div>
