<ng-container *ngIf="!isLoading; else spinner">
  <div class="row-end-center mb-3">
    <app-button-group class="row-end-center">
      <button appButton outline size="small" (click)="onCreate()">
        <i class="fas fa-plus"></i>
      </button>
    </app-button-group>
  </div>
  <app-table [tableSet]="tableSet"></app-table>
</ng-container>

<ng-template #modal let-input>
  <app-edit-birthday [input]="input" (output)="onSave($event)"></app-edit-birthday>
</ng-template>

<ng-template #confirm let-input>
  <div class="row-end-center gap-2">
    <button appButton outline size="regular" color="blue" (click)="onClose()">Annuler</button>
    <button appButton filled size="regular" color="blue" (click)="onConfirmDelete(input)">
      Supprimer
    </button>
  </div>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
