$height-nav: 56px;
$height-header: 60px;
.header-container {
    background-color: white;
    height: $height-header;
    position: sticky;
    top: $height-nav;
    z-index: 1020;
}
.calendar-container {
    margin-top: $height-header;
    margin-bottom: $height-header;
}