$height-nav: 56px;
$height-header: 60px;
.header-container {
    background-color: white;
    height: $height-header;
    position: sticky;
    top: $height-nav;
    z-index: 1020;
}
.calendar-container {
    margin-top: $height-header;
    margin-bottom: $height-header;
}
.cal-header {
    position: sticky;
    top: 120px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1;
    z-index: 1200;
    &:before {
        content:'';
        width: 100%;
        height: 4px;
        background-color: white;
        position:absolute;
        top: -4px
    }
}