@import 'variables.scss';

.marquee {
  position: fixed;
  background-color: $blue;
  height: $height-rss;
  color: $grey-100;
  font-size: 1.4rem;
  bottom: 0px;
  width: 100%;
  z-index: $z-index-navbar;
}