<app-right-bar>

  <audio [src]="brandDTO.value" #audio controls autoplay preload="auto" style="display: none" crossorigin="anonymous">
    <source type="audio/mpeg" />
  </audio>
  
  <section class="row my-3">

    <app-button-group class="mr-3">
      <button appButton outline (click)="onTooglePlay()">
        <app-icon [path]="isPlaying ? 'pause' : 'play'"></app-icon>
      </button>
      <button appButton outline [disabled]="audio.volume <= 0.1 ? true : false" (click)="onVolume('down')">
        <app-icon path="volume-down"></app-icon>
      </button>
      <button appButton outline [disabled]="audio.volume >= 0.9 ? true : false" (click)="onVolume('up')">
        <app-icon path="volume-up"></app-icon>
      </button>
    </app-button-group>
  
    <ng-container *ngIf="song; else spinner">
        <app-button-group>
          <button #popover appButton outline [appPopover]="templateRef">
            <app-icon path="history"></app-icon>
          </button>
          <button appButton outline (click)="onSearch()">
            <app-icon path="search"></app-icon>
          </button>
        </app-button-group>
    </ng-container>

    <ng-container *ngIf="song">
      <div class="row-start-center w-100">
        <span class="station">{{ brandDTO.viewValue }}</span>
      </div>
      <div class="row-txt f-grow">
        <p class="countdown">{{ minutesLeft | number : '2.0' }} : {{ secondsLeft | number : '2.0' }}</p>
        <div class="track-live" #track>
          <div class="performers">{{ song!.artist }}</div>
          <div class="title">{{ song!.title }}</div>
        </div>
      </div>
    </ng-container>

  </section>
</app-right-bar>

<ng-template #templateRef>
  <h6>TITRES DIFFUSÉS (dans la dernière heure) :</h6>
  <hr />
  <div *ngFor="let song of grid" class="song-option" (click)="searchByHistory(song)">
      {{ song.start * 1000 | date : 'HH:mm' }} - {{ song.title }} -
      {{ song.artist }}
  </div>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
