$width-analysis: 425px;
$height-analysis: 450px;

.badge {
  font-size: 16px;
  font-weight: 600;
  color: hsl(0, 0%, 60%);
}
.scale-analysis {
  transform: scale(0.5) translate(-90px, -65px);
  width: calc($width-analysis * 0.5);
  height: calc($height-analysis * 0.25);
  clip-path: inset(0 -189px -301px);
}
.mini-card {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  padding: 16px;
  height: 250px;
}
.scrollable {
  height: calc(100vh - 251px);
  overflow-y: auto;
  align-content: flex-start;
}
