$color-btn-extra-disabled: #6c757d;
$color-btn-extra-active: #0d6efd;
@import 'variables.scss';

app-button-group button[size=tiny] {
    padding: 0;
    height: 20px;
    width: 24px;
}
app-button-group button[size=small] {
    height: 24px;
    min-width: 24px;
}
app-button-group button[size=regular] {
    height: 31px;
    min-width: 31px;
}


app-button-group [appButton] {
      &:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:not(:first-child) {
        margin-left: -1px;
      }
    }

