@import 'variables.scss';

:root {
  --max-width: 800px;
}

.modal {
  z-index: $z-index-modal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .modal-dialog {
    margin: auto;
    min-height: calc(100% - 0.5rem * 2);
    max-width: var(--max-width);

    .modal-content {
      background-color: $grey-94;
      width: 100%;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 0.5rem;

      .modal-header {
        padding: 1rem;
        border-bottom: 1px solid $grey-90;

        .modal-title {
          color: $red;
        }

        .btn-close {
          cursor: pointer;
          box-sizing: content-box;
          width: 1em;
          height: 1em;
          padding: 0.25em 0.25em;
          background: transparent
            url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
            center / 1em auto no-repeat;
          border: 0;
          opacity: 0.5;
        }
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: $z-index-modal-backdrop;
}
