<div class="cal-open-day-events" *ngIf="isOpen" [@collapse]>

  <div class="d-flex justify-content-between">
    <h5>{{ viewDate | date : 'fullDate' }}</h5>
    <span class="opacity-50">{{ saintDuJour }}</span>
  </div>

  <div class="d-flex justify-content-between">
    <div class="col-8">
      <ng-container *ngFor="let comment of comments">
        <div class="d-flex align-items-center">
          <span class="cal-event"></span>

          <ng-container *ngIf="!isEditing; else editing">
            <span class="fs-6 fw-light fst-italic mx-2">
              <em>{{ comment.title }}</em>
            </span>
          </ng-container>
          <ng-template #editing>
            <input class="comment-form-control" type="text" [(ngModel)]="comment.title"/>
          </ng-template>

          <a (click)="onEdit(comment)"><i class="fas fa-fw fa-pencil-alt"></i></a>
          <a (click)="onDelete(comment)"><i class="fas fa-fw fa-trash-alt"></i></a>
        </div>
      </ng-container>
    </div>
    <div class="col-4 opacity-50">
      <ng-container *ngFor="let anniv of annivList">
        <div class="d-flex justify-content-end">
          <span class="fs-6 fw-light fst-italic">
            <em>{{ anniv.title }}</em>
          </span>
        </div>
      </ng-container>
    </div>
  </div>

</div>
