<div class="cal-open-day-events" *ngIf="isOpen" [@collapse]>

  <div class="d-flex justify-content-between">
    <h5>{{ viewDate | date : 'fullDate' }}</h5>
    <span class="opacity-50">{{ saintDuJour }}</span>
  </div>

  <div class="d-flex justify-content-between">
    <div class="col-8">
      <ng-container *ngFor="let comment of comments; let rowIndex = index">
        <div class="d-flex align-items-center m-2">
          <span class="cal-event mx-2 "></span>
          <ng-container *ngIf="enableEditIndex != rowIndex || isLocked; else editing">
            <span class="fs-6 fw-light fst-italic"><em>{{ comment.title }}</em></span>
            <button class="btn btn-outline-secondary btn-sm text-light mx-2" (click)="onEdit(rowIndex)" [disabled]="isLocked" ><i class="fas fa-fw fa-pencil-alt"></i></button>
            <button class="btn btn-outline-secondary btn-sm text-light" (click)="onDelete(comment)" [disabled]="isLocked" ><i class="fas fa-fw fa-trash-alt"></i></button>
          </ng-container>
          <ng-template #editing>
            <input class="comment-form-control border border-primary text-light w-100" type="text" #input [ngModel]="comment.title"/>
            <button class="btn btn-outline-primary btn-sm text-light mx-2" (click)="onCancel()"><i class="fas fa-fw fa-times-circle"></i></button>
            <button class="btn btn-outline-primary btn-sm text-light" (click)="comment.title = input.value; onUpdate(comment)"><i class="fas fa-fw fa-save"></i></button>
          </ng-template>


        </div>
      </ng-container>
    </div>
    <div class="col-4 opacity-50">
      <ng-container *ngFor="let anniv of annivList">
        <div class="d-flex justify-content-end">
          <span class="fs-6 fw-light fst-italic">
            <em>{{ anniv.title }}</em>
          </span>
        </div>
      </ng-container>
    </div>
  </div>

</div>
