@import 'variables.scss';

%alert {
    width: 400px;
    min-height: 65px;
    box-shadow: $box-shadow;
    background-color: $grey-97;
    margin-top: 20px;
    position: relative;
    border-radius: $border-radius;
}

%ribbon {
    width: 8px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

#insert {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: $z-index-alert;
}

.alert-success {
    @extend %alert;
    .alert-ribbon {
        background-color: $green;
        @extend %ribbon;
    }
}
.alert-error {
    @extend %alert;
    .alert-ribbon {
        background-color: $red;
        @extend %ribbon;
    }
}
.alert-warning {
    @extend %alert;
    .alert-ribbon {
        background-color: $orange;
        @extend %ribbon;
    }
}
.alert-info {
    @extend %alert;
    .alert-ribbon {
        background-color: $blue;
        @extend %ribbon;
    }
}
.alert-title {
    font-size: 14px;
    color: $grey-10;
}
.alert-content {
    font-size: 14px;
    color: $grey-40;
    word-break: break-all;
    line-height: 21px;
}
.close-btn {
    cursor: pointer;
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}