<section id="insert" class="col">
  <ng-container *ngIf="alerts.length > 0">
    <ng-container *ngFor="let alert of alerts; let i = index">
      <div [ngClass]="alert.styleCSS + ' d-flex'" @showAlert>
        <div class="alert-ribbon"></div>
        <div class="p-3 f-grow self-center">
          <span class="alert-title"
            >{{ alert.title }}:<span class="alert-content"> {{ alert.content }}</span></span
          >
        </div>
        <div class="p-3 self-center">
          <i class="fas fa-times close-btn" (click)="close(i)"></i>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
