@import 'variables.scss';

%alert {
    width: 400px;
    min-height: 65px;
    box-shadow: 0 .5rem 1rem 0 $grey-60;
    background-color: $grey-97;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    border-radius: .25rem;
}

#insert {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1090;
}

.alert-success {
    @extend %alert;
    .alert-ribbon {
        background-color: $green;
        width: 8px;
    }
}
.alert-error {
    @extend %alert;
    .alert-ribbon {
        background-color: $red;
        width: 8px;
    }
}
.alert-warning {
    @extend %alert;
    .alert-ribbon {
        background-color: $orange;
        width: 8px;
    }
}
.alert-info {
    @extend %alert;
    .alert-ribbon {
        background-color: $blue;
        width: 8px;
    }
}
.alert-title {
    font-size: 14px;
    color: $grey-10;
}
.alert-content {
    font-size: 14px;
    color: $grey-40;
    word-break: break-all;
    line-height: 21px;
}