<div class="row-end-center mb-3">
  <app-title title="Associations"></app-title>
  <app-button-group class="row-end-center">
    <button appButton outline size="small" (click)="onCreate()">
      <i class="fas fa-plus"></i>
    </button>
  </app-button-group>
</div>
<app-table [tableSet]="tableSet"></app-table>

<ng-template #modal let-input>
  <app-edit-recurring-event [input]="input" (output)="onSave($event)"></app-edit-recurring-event>
</ng-template>

<ng-template #confirm let-input>
  <div class="row-end-center gap-2">
    <button appButton outline size="regular" color="blue" (click)="onClose()">Annuler</button>
    <button appButton filled size="regular" color="blue" (click)="onConfirmDelete(input)">
      Supprimer
    </button>
  </div>
</ng-template>
