@import 'variables.scss';

.chart-legend {
	display: flex;
	position: relative;
	color: grey;
}

.chart-legend .chart-legend-row {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.chart-legend .chart-legend-puce {
	border-radius: 50%;
	padding: .5rem;
	margin-right: .5rem;
}

.chart-legend .chart-legend-text {
	margin-right: .5rem;
	white-space: preserve-spaces;
	pointer-events: none;
}
