.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.col-center-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.col-stretch-start {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.f-grow {
  flex-grow: 1;
}
.f-stretch {
  align-self: stretch;
}

$columns: 12; // number of columns in the grid system
@for $width from 1 through $columns {
  .col-#{$width} {
    flex-basis: calc($width / $columns) * 100%;
  }
}
