// from nebular
$blue: #3366ff;
$blue-active: #274bdb;
$blue-hover: #598bff;
$green: #00d68f;
$green-active: #00b887;
$green-hover: #2ce69b;
$orange: #ffaa00;
$orange-active: #db8b00;
$orange-hover: #ffc94d;
$red: #ff3d71;
$red-active: #db2c66;
$red-hover: #ff708d;
$gold: #ffd700;

$transparent-default-bg: rgba(255, 255, 255, 0.08);
$transparent-active-bg: rgba(255, 255, 255, 0.24);
$transparent-hover-bg: rgba(255, 255, 255, 0.16);
$transparent-disabled-bg: rgba(143, 155, 179, 0.16);
$transparent-disabled-border: rgba(143, 155, 179, 0.24);
$transparent-disabled-text: rgba(143, 155, 179, 0.48);

// scale of greys
$grey-0: hsl(0, 0%, 0%);
$grey-10: hsl(0, 0%, 10%);
$grey-15: hsl(0, 0%, 15%);
$grey-20: hsl(0, 0%, 20%);
$grey-30: hsl(0, 0%, 30%);
$grey-40: hsl(0, 0%, 40%);
$grey-50: hsl(0, 0%, 50%);
$grey-60: hsl(0, 0%, 60%);
$grey-70: hsl(0, 0%, 70%);
$grey-80: hsl(0, 0%, 80%);
$grey-90: hsl(0, 0%, 90%);
$grey-91: hsl(0, 0%, 91%);
$grey-92: hsl(0, 0%, 92%);
$grey-93: hsl(0, 0%, 93%);
$grey-94: hsl(0, 0%, 94%);
$grey-95: hsl(0, 0%, 95%);
$grey-96: hsl(0, 0%, 96%);
$grey-97: hsl(0, 0%, 97%);
$grey-98: hsl(0, 0%, 98%);
$grey-99: hsl(0, 0%, 99%);
$grey-100: hsl(0, 0%, 100%);

// box-sadow popover, modal, alert.
$box-shadow: 0px 0rem 5px 0px $grey-80;
%box-shadow-active {
  filter: brightness(90%);
  box-shadow: 0 0 0 0.2rem $grey-95;
}

// z-index.
$z-index-header-sticky: 1000;
$z-index-right-bar-backdrop: 1010;
$z-index-right-bar: 1020;
$z-index-navbar: 1030;
$z-index-modal-backdrop: 1050;
$z-index-modal: 1055;
$z-index-popover: 1070;
$z-index-alert: 1090;

// border-radius.
$border-radius: 0.2rem;
$height: 26px;
$padding: 2px 4px;

// system color used
$color-primary: $green;
$color-dark: $grey-40;
$color-light: $grey-97;

// z-index.
$z-index-popover: 1070;

//height nav bar
$height-nav: 56px;
$height-header: 60px;
$height-rss: 40px;

//input

%show-input-text {
  padding: 0.25rem 0;
  height: 24px;
}
%show-input-value {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid $grey-70;
  border-top: none;
  border-left: none;
  border-right: none;
  @extend %show-input-text;
  transition: all 250ms ease-in-out;
  &:hover {
      border-bottom: 1px solid $green;
  }
  &:focus {
      border-bottom: 1px solid $blue;
  }
  &[readonly] {
      border-color: $grey-90;
      cursor: default;
      pointer-events: none;
  }
}
%show-input-label {
  width: 100%;
  position: relative;
  label {
    position: absolute;
    top: 0;
    left: 0;
    @extend %show-input-text;
    color: $grey-60;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    transition: all 250ms ease-in-out;
    pointer-events: none;
  }
  input:hover + label {
    color: $green;
  }
  input:active + label, input:focus + label {
      transform: translateY(-50%);
      font-size: 10px;
      color: $blue;
      padding: 0;
  }
  input:not(:placeholder-shown) + label {
      transform: translateY(-50%);
      font-size: 10px;
      padding: 0;
  }
}
