// Guidelines Thermo used FastScreenPLUS
$red: #EE3134;
$blue: #1E8AE7;
$green: #85CC53;
$orange: #F68722;
$blue-hover: #00548B;
//scale of blue;
$blue-30:#1e8ae74d;
$blue-70:#1e8ae7b3;
// scale of greys
$color-grey-0: hsl(0, 0%, 0%);
$color-grey-10: hsl(0, 0%,  10%);
$color-grey-20: hsl(0, 0%,  20%);
$color-grey-30: hsl(0, 0%,  30%);
$color-grey-40: hsl(0, 0%,  40%);
$color-grey-50: hsl(0, 0%,  50%);
$color-grey-60: hsl(0, 0%,  60%);
$color-grey-70: hsl(0, 0%,  70%);
$color-grey-80: hsl(0, 0%,  80%);
$color-grey-90: hsl(0, 0%,  90%);
$color-grey-91: hsl(0, 0%,  91%);
$color-grey-92: hsl(0, 0%,  92%);
$color-grey-93: hsl(0, 0%,  93%);
$color-grey-94: hsl(0, 0%,  94%);
$color-grey-95: hsl(0, 0%,  95%);
$color-grey-96: hsl(0, 0%,  96%);
$color-grey-97: hsl(0, 0%,  97%);
$color-grey-98: hsl(0, 0%,  98%);
$color-grey-99: hsl(0, 0%,  99%);
$color-grey-100: hsl(0, 0%,  100%);