@import 'variables.scss';

.tooltip {
  border-radius: 3px;
  background: $blue;
  box-shadow: $box-shadow;
  color: $grey-100;
  position: fixed;
  transform: translate(-50%, 7px);
  padding: 12px;
  z-index: $z-index-popover;
  font-size: 14px;
  max-width: 400px;
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $blue;
    position: absolute;
    left: calc(50% - 5px);
    top: -5px;
  }
}
