<section class="scrolling-table" [style.--maxiHeight]="tableSet.maxiHeight" [style.--height]="tableSet.height">
  <div class="table-container">
    <div class="table-row header" [ngClass]="tableSet.verticaltextHeader ? 'vertical' : ' '">
      <ng-container *ngFor="let column of tableSet.columnSet">
        <app-table-cell-header
          class="table-cell"
          *ngIf="column.visible"
          [tableSet]="tableSet"
          [columnSet]="column"
          [isEditing]="enableEditIndex != undefined ? true : false"
        ></app-table-cell-header>
      </ng-container>
      <ng-container *ngIf="tableSet.actions">
        <div class="table-cell">Actions</div>
      </ng-container>
    </div>
    <form
      #f="ngForm"
      class="table-row body"
      [ngClass]="tableSet.hover ? 'hover' : ''"
      *ngFor="let row of tableSet.data; let i = index"
      (click)="tableSet.openDetailByClickRow ? tableSet.openDetailByClickRow(row) : null"
    >
      <ng-container *ngFor="let column of tableSet.columnSet">
        <app-table-cell
          class="table-cell"
          [ngStyle]="{width: column.width ?? null}"
          *ngIf="column.visible"
          [rowData]="tableSet.data[i]"
          [columnSet]="column"
          [readonly]="enableEditIndex !== i"
          [parentForm]="f"
        ></app-table-cell>
      </ng-container>
      <ng-container *ngIf="tableSet.actions">
        <div class="table-cell">
          <div class="row-center-center">
            <ng-container *ngIf="enableEditIndex !== i; else edit">
              <button appButton ghost size="tiny" (click)="enableEditMethod(i)"><i class="fas fa-pencil-alt"></i></button>
              <button appButton ghost size="tiny" (click)="onDelete(i)"><i class="fas fa-trash-alt"></i></button>
            </ng-container>
            <ng-template #edit>
              <button appButton ghost size="tiny" (click)="onCancel(f, tableSet.data[i])"><i class="fas fa-times"></i></button>
              <button appButton ghost size="tiny" (click)="onSave(f, tableSet.data[i])"><i class="fas fa-save"></i></button>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</section>