@import 'variables.scss';

.scrolling {
  width: 100%;
  overflow-x: auto;
  border: 1px solid $grey-80;
  border-radius: 4px;
  max-height: var(--maxiHeight);
  height: var(--height);
}

.table-container {
  display: table;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  .table-row {
    display: table-row;
    .table-cell {
      display: table-cell;
      padding: 5px 12px;
      transition: width 1s ease-in-out 0.1s;
      vertical-align: middle;
    }
    &:nth-child(2n) {
      background-color: $grey-97;
    }
  }
  .header {
    background-color: $grey-80;
    font-weight: bold;
    border-bottom: 1px solid $grey-80;
    cursor: pointer;
    .vertical {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      vertical-align: middle;
    }
  }
  .body {
    background-color: $grey-100;
    border-bottom: 1px solid $grey-80;
  }
  .hover:hover {
    background-color: $grey-95;
    color: var(--text-primary-color);
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      border-top: 1px solid $grey-15;
      border-bottom: 1px solid $grey-15;
      top: 0;
      right: 0;
      width: 100%;
      height: 104%;
    }
  }
}
