<form #formSection="ngForm" class="col">
    <app-input-text
      class="py-3"
      label="valeur"
      [(ngModel)]="input.value"
      name="value"
      [required]="true"
    ></app-input-text>
  </form>
  
  <div class="row-end-center gap-2">
    <button appButton outline size="regular" color="blue" (click)="onClose()">Annuler</button>
    <button
      appButton
      filled
      size="regular"
      color="blue"
      (click)="onSave()"
      [disabled]="formSection.valid ? false : true"
    >
      Enregistrer
    </button>
  </div>
  