@import "variables.scss";

.comment-form-control {
    padding: 0 8px;
    //background-color: transparent;
    background-color: $grey-97;
    outline: none;
    min-height: 24px;
    border: 1px solid $green;
    border-radius: 0.25rem;
    &:hover, &:focus {
        border: 1px solid $blue;
    }
    &:active {
        @extend %box-shadow-active;
    }
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: $grey-97;
    margin-top: 0.25em;
    border: 1px solid $green;
    appearance: none;
    border-radius: 0.25em;

    &:checked {
        background-color: $green;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }

    & + span {
        white-space: nowrap;
    }
}