<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="default"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
    <ng-container *ngTemplateOutlet="checkbox"></ng-container>
  </ng-container>
</ng-container>

<ng-template #default>
  <input
    #input="ngModel"
    [ngClass]="cssClass"
    [type]="type"
    [name]="data.name"
    [ngModel]="data.value"
    [disabled]="data.disabled"
    (ngModelChange)="save(input.value)"
  />
</ng-template>

<ng-template #checkbox>
  <label class="row-start-end">
    <input
      #input="ngModel"
      [ngClass]="cssClass"
      type="checkbox"
      [name]="data.name"
      [ngModel]="data.value"
      [disabled]="data.disabled"
      (ngModelChange)="save(input.value)"
    />
    <span class="ml-2">{{ data.name }}</span>
  </label>
</ng-template>
