<div class="row-between-start f-wrap train-edition-container">

  <app-input-date class="col-6" [label]="startAtField.name" [(ngModel)]="input.startAt"></app-input-date>

  <app-select class="col-6" [options]="startPlaceField.options" [(selected)]="input.startPlace!" [label]="startPlaceField.name"></app-select>

  <app-input-date class="col-6" [label]="endAtField.name" [(ngModel)]="input.endAt"></app-input-date>

  <app-select class="col-6" [options]="endPlaceField.options" [(selected)]="input.endPlace!" [label]="endPlaceField.name"></app-select>

  <app-input-suggestion class="col-6" [label]="trainNumberField.name" [(ngModel)]="input.trainNumber" [options]="trainNumberField.options"></app-input-suggestion>

  <app-input-text class="col-6" [label]="seatNumberField.name" [(ngModel)]="input.seatNumber"></app-input-text>

  <app-input-text class="col-6" [label]="travelReferencyField.name" [(ngModel)]="input.travelReferency"></app-input-text>

  <app-input-checkbox class="col-6" [label]="subscriptionCardField.name" [(ngModel)]="input.subscriptionCard"></app-input-checkbox>

  <app-input-textarea class="col-12" [label]="cancelationField.name" [(ngModel)]="input.cancelation" rows="5"></app-input-textarea>

  <app-input-number class="col-6" [label]="priceField.name" [(ngModel)]="input.price"></app-input-number>
  
  <app-select class="col-6" [options]="statusField.options" [(selected)]="input.status" [label]="statusField.name"></app-select>

  <app-input-file class="col-12" [label]="fileStorageField.name" [(fileStorage)]="input.fileStorage!"></app-input-file>

</div>

<div class="row-end-center gap-2">
  <button appButton outline size="regular" color="blue" (click)="onClose()">Annuler</button>
  <button appButton outline size="regular" color="green" (click)="onSave()">Enregistrer</button>
</div>
