@import 'variables.scss';

article {
  display: grid;
}

section {
  transition: all .5s ease;
  &.open {
    height: 360px;
  }
  &.close {
    height: 0px;
    overflow: hidden;
  }
}

app-icon {
  cursor: pointer;
  transform: rotate(90deg);
}

.radio-divider {
  margin: 10px 0;
  border-bottom: 2px solid $grey-80;
}
.countdown {
  margin: 0;
}
.track-live {
  &.performers {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
  }
  &.title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: $grey-50;
  }
}

.song-option {
  cursor: pointer;
  margin: unset;
  font-size: 14px;
  &:hover {
    background-color: $grey-95;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
