<nav>
  <div class="row-between-center container">
    <div class="row-start-center">
      <div><i class="fas fa-calendar-check fa-lg"></i></div>
      <ul class="row-start-center nav-items">
        <li *ngFor="let item of items">
          <a class="px-2" [routerLink]="item.route" [routerLinkActive]="'active'">{{ item.title }}</a>
        </li>
      </ul>
    </div>
    <div class="row-center-center gap-3">
      <button appButton outline size="regular" color="light" (click)="signOut.next()">Déconnexion</button>
      <ng-container *ngIf="userImg">
          <img [src]="userImg" class="user-img">
      </ng-container>
    </div>
  </div>
</nav>
