@import 'variables.scss';

.rates {
    width: 18px;
    display: inline-block;
    cursor: pointer;
    .fa-solid {
        color: $gold;
    }
    .fa-regular {
        color: $grey-80;
        &.hover {
            color: $gold;
        }
    }
}

input[type=number] {
   position: absolute;
   z-index: -1;
   display: none;
   &:focus-visible ~ .rates {
    box-shadow: $box-shadow;
   }

   &[readonly] ~ .rates {
    pointer-events: none;
   }
}