<section class="row-between-stretch w-100" >
  <div class="arrow">
    <button appButton ghost color="light" [disabled]="!hasPrevious" (click)="previous()">
        <app-icon color="light" path="chevron-left"></app-icon>
    </button>
  </div>
  <div class="content">
    <div #translateBloc class="translateBloc" [ngStyle]="{'transform': 'translateX(' + position + 'px)'}">
        <ng-content></ng-content>
      </div>
  </div>
  <div class="arrow">
    <button appButton ghost color="light" [disabled]="!hasNext" (click)="next()">
        <app-icon color="light" path="chevron-right"></app-icon>
    </button>
  </div>
</section>
