@import 'variables.scss';

.scrolling {
  height: calc(100vh - 290px);
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  width: 100px;
}

// DISCOGS
.column-elt {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  flex-wrap: wrap;
}
.discogs-img-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  img {
    height: 100%;
  }
}
.label {
  font-weight: bold;
  color: $red;
}

// WIKIPEDIA
.wikipedia-container {
  position: relative;
  &.close {
    .wikipedia-content {
        max-height: 100px;
        overflow: hidden;
    }
    .show-more {
      background: linear-gradient(to bottom, transparent, $grey-100, $grey-100);
    }
  }
  .show-more {
    position: absolute;
    bottom: 0;
    height: 40px;
    a {
        color: $red;
        cursor: pointer;
    }
  }
}
