@import 'variables.scss';

.popover-container {
    border-radius: 3px;
    background: $grey-100;
    box-shadow: $box-shadow;
    color: $grey-0;
    position: fixed;
    padding: 12px;
    z-index: $z-index-popover;
    font-size: 14px;
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
      }
}

.left {
  transform: translate(calc(-100% - 7px), calc(-50% - 0px));
  &::before {
    border-left: 5px solid $grey-100;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -5px;
    top: calc(50% - 5px);
  }
}
.right {
  transform: translate(7px, calc(-50% - 0px));
  &::before {
    border-right: 5px solid $grey-100;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -5px;
    top: calc(50% - 5px);
  }
}
.bottom {
  transform: translate(-50%, 7px);
  &::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $grey-100;
    left: calc(50% - 5px);
    top: -5px;
  }
}