<ng-container *ngIf="input">
  <h3 class="mb-3">{{ input.title }}</h3>
  <div class="iframe-container">
    <iframe iframeTracker class="responsive-iframe" [src]="src" allowfullscreen frameborder="0">
    </iframe>
  </div>
  <p class="f-grow word-break">
    <app-read-more [text]="input.description"></app-read-more>
    <span *ngIf="input.viewCount && !loading; else spinner" class="viewcount">
      {{ input.viewCount | numberSuffix : 2 }} de vues
    </span>
  </p>
  <div *ngIf="input.extractWiki" class="row-end-center">
    <img
      [appTooltip]="input.extractWiki"
      src="assets/Wikipedia.svg"
      alt="logo Wikipedia"
      width="100px"
    />
  </div>
  <div class="row-between-center my-3 gap-5">
    <app-input-star [(ngModel)]="input.rating"></app-input-star>
    <app-input-suggestion
      class="f-grow"
      [options]="categories"
      label="Catégorie"
      [(ngModel)]="input.categorie"
    >
    </app-input-suggestion>
  </div>
  <div class="row-end-center gap-2">
    <ng-container *ngIf="input.id">
      <button appButton color="red" (click)="onDelete()">Supprimer</button>
    </ng-container>
    <button appButton color="green" (click)="onSave()">Enregistrer</button>
    <button appButton (click)="fileInput.click()">
      Convertir
      <app-spinner *ngIf="isConverting" size="btn"></app-spinner>
    </button>
  </div>
  <input #fileInput type="file" (change)="loadCookies($event)" style="display: none" />
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
