<ng-container *ngIf="input">
  <h3 class="mb-3">{{ input.title }}</h3>
  <div class="iframe-container">
    <iframe
      iframeTracker
      (iframeClick)="onIframeClick()"
      class="responsive-iframe"
      [src]="src"
      allowfullscreen
      frameborder="0"
    >
    </iframe>
  </div>
  <p class="f-grow word-break">{{ input.description }}</p>
  <div class="row-between-center">
    <app-priority [data]="rating"></app-priority>
    <app-input-suggestion
      class="col-3"
      [options]="categories"
      label="Catégories favorites existantes"
      [ngModel]="input.categorie"
      (ngModelChange)="updateCategorie($event)"
    >
    </app-input-suggestion>
  </div>
  <div *ngIf="input.extractWiki" class="mt-3">
    <img [appTooltip]="input.extractWiki" src="assets/Wikipedia.svg" alt="logo Wikipedia" width="100px" />
  </div>
  <button appButton (click)="onDelete()">Supprimer</button>
</ng-container>
