@import 'variables.scss';

.rates {
    width: 18px;
    display: inline-block;
    cursor: pointer;
    .fa-solid {
        color: $gold;
    }
    .fa-regular {
        color: $color-grey-80;
    }
}