@import "variables.scss";

input[type=text] {
    width: 100%;
    padding: 0 8px;
    //background-color: transparent;
    background-color: $grey-97;
    outline: none;
    min-height: 24px;
    border: 1px solid $green;
    border-radius: 0.25rem;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1rem;
    padding:.1875rem 1rem;
    &:hover, &:focus {
        border: 1px solid $blue;
    }
    &:active:not([readonly]) {
        @extend %box-shadow-active;
    }
    &[readonly] {
        cursor: default;
        border-color: $grey-80;
       // background: transparent;
        color: $grey-10;
    }
}