<!-- Modal -->
<div class="modal fade show">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger">{{ data.date | date : 'fullDate' }}</h1>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body p-4">
        <ng-container *ngFor="let event of events; let i = index">
          <span class="fw-semibold">{{ event }}</span>
          <span *ngIf="i < events.length - 1"> / </span>
        </ng-container>
        <form class="my-3">
          <label for="comment" class="form-label">Ajouter un commentaire :</label>
          <textarea #input="ngModel" ngModel name="comment" class="form-control" id="comment" rows="3"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onClose()">Annuler</button>
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="onSave(input.value)"
          [disabled]="input.dirty ? false : true"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
<div class="backdrop"></div>
