<app-layout>
  <section class="container" *ngIf="!loading; else spinner" class="">
    
    <app-card [title]="city.name">
      <div class="gap-3 mt-3 card-header-container">
        <app-forecast-map></app-forecast-map>
        <app-forecast-card [forecast]="forecasts[0]" [isBig]="true"></app-forecast-card>
      </div>
    </app-card>
    <!-- <app-carousel>
      <div
        appCarouselItem
        *ngFor="let forecast of forecasts | slice : 1 : forecasts.length - 1"
        class="col-center-center column-elt"
      >
        <app-forecast-card [forecast]="forecast"></app-forecast-card>
      </div>
    </app-carousel> -->

    <!-- <app-forecast-chart [forecasts]="forecasts"></app-forecast-chart> -->

    <div class="parent-container">
      <div appDraggable class="col-center-start">
        <div class="row-center-center">
          <app-forecast-card
            *ngFor="let forecast of forecasts | slice : 1 : forecasts.length - 1"
            [forecast]="forecast"
          ></app-forecast-card>
        </div>
        <app-forecast-chart [forecasts]="forecasts | slice : 1 : forecasts.length - 1" [isTempOnly]="true"></app-forecast-chart>
      </div>
    </div>

  </section>
</app-layout>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
