@import 'variables.scss';


.login-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-google {
    border: none;
    background-color: #e04932;
    color: $grey-100;
    height: 31px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    &:hover:enabled {
      background-color: $blue-hover;
    }
  }
  