<div class="row-between-start f-wrap edit-container">
  <app-input-select
    class="col-4"
    [options]="agendaUserField.options"
    [(ngModel)]="input.agendaUser"
    [label]="agendaUserField.name"
  ></app-input-select>

  <app-input-select
    class="col-4"
    [options]="calRecurringEventTypeField.options"
    [(ngModel)]="input.calRecurringEventType"
    [label]="calRecurringEventTypeField.name"
  ></app-input-select>

  <app-input-number
    class="col-4"
    [label]="orderField.name"
    [(ngModel)]="input.order"
    [min]="0"
    [step]="1"
  ></app-input-number>
</div>

<div class="row-end-center gap-2">
  <button appButton outline size="regular" color="blue" (click)="onClose()">Annuler</button>
  <button appButton filled size="regular" color="blue" (click)="onSave()">Enregistrer</button>
</div>
