<div class="row-end-center mb-3">
  <app-button-group class="row-end-center">
    <button appButton outline size="small" (click)="onCreate()">
      <i class="fas fa-plus"></i>
      Donnée
    </button>
    <button appButton outline size="small" (click)="onAddSectionTitle()">
      Ajouter un titre de section
    </button>
    <button appButton outline size="small" (click)="onAddSeparator()">
      Ajouter une séparation
    </button>
  </app-button-group>
</div>

<ng-container *ngIf="!isLoading; else spinner">
  <section class="memo-container">
    <ng-container *ngFor="let item of list; let i = index">
      <article class="memo-row">
        <div class="memo-cell memo-label txt-nowrap pr-1">{{ item.name }} :</div>
        <div class="memo-cell memo-value" [ngSwitch]="item.type.value">
          <a *ngSwitchCase="'file'" [href]="item.value.link" target="_blank">{{ item.value.name }}</a>
          <a *ngSwitchCase="'link'"[href]="item.value" target="_blank">{{ item.value }}</a>
          <span *ngSwitchCase="'text'">{{ item.value }}</span>
          <span *ngSwitchCase="'date'">{{ item.value | date : 'fullDate' }}</span>
          <span *ngSwitchCase="'separator'"><br/><br/><br/></span>
          <span *ngSwitchCase="'title'">{{ item.value }}</span>
          <span *ngSwitchDefault>{{ item.value }}</span>
        </div>
        <div class="memo-cell memo-actions">
          <button appButton ghost size="tiny" (click)="onEdit(item)"><i class="fas fa-pencil-alt"></i></button>
          <button appButton ghost size="tiny" (click)="onDelete(item)"><i class="fas fa-trash-alt"></i></button>
          <button appButton ghost size="tiny" (click)="onUp(i)" [disabled]="i <= 0"><i class="fa-solid fa-chevron-up"></i></button>
          <button appButton ghost size="tiny" (click)="onDown(i)" [disabled]="i >= this.list.length - 1"><i class="fa-solid fa-chevron-down"></i></button>
        </div>
      </article>
    </ng-container>
  </section>
</ng-container>

<ng-template #editionField let-input>
  <app-edition-field [input]="input" (output)="onSave($event)"></app-edition-field>
</ng-template>

<ng-template #editionSection let-input>
  <app-edition-section [input]="input" (output)="onSave($event)"></app-edition-section>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
