@import 'variables.scss';


$width-action: 110px;

.memo-container {
    display: table;
    border-collapse: collapse;
    font-size: 14px;

    .memo-row {
        display: table-row;
        .memo-cell {
            display: table-cell;
        }
    }

    .memo-label {
        font-weight: 600;
        color: $grey-50;
    }    
    
    .memo-row {
        height: 1.5rem;
        
        .memo-actions {
            opacity: 0;
            width: $width-action;
            vertical-align: middle;
        }
        &:hover .memo-actions {
            opacity: 1;
        }
    }

    .title {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .separator {
        width: calc(100% - $width-action);
        border-bottom: 2px solid $grey-90;
    }
}