@import "variables.scss";

.sortable {
  .hidden {
    visibility: hidden;
  }
  &:hover .hidden {
    visibility: visible;
  }
}

.unsortable {
  .hidden {
    visibility: hidden;
  }
  i {
    color: $grey-90;
  }
}

.ellipsis {
  display: inline-block;
  max-width: 90%; //100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  &:hover {
    max-width: 100%;
}
}
