@import 'variables.scss';

%readonly {
    border-color: $grey-90;
    cursor: default;
    pointer-events: none;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0.25em;
  appearance: none;
  @extend %input-box;
  cursor: pointer;
  & + label {
    font-size: 14px;
    white-space: nowrap;
  }
  &:checked {
    border: 1px solid $green;
    background-color: $green;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
  &[readonly] {
    @extend %readonly;
    background-color: $grey-95;
    ~ label {
      opacity: 0.1;
    }
    &:checked {
      background-color: $grey-80;
      border-color: $grey-70;
      ~ label {
        opacity: 0.9;
      }
    }
  }
}