<section class="row gap-2">
  <app-input-select
    class="select-param"
    [options]="radioList"
    [(ngModel)]="radioSelected"
    (ngModelChange)="onSelectStation()"
  ></app-input-select>
  <button appButton outline (click)="onTooglePlay()">
    <app-icon [path]="isPlaying ? 'pause' : 'play'"></app-icon>
  </button>
</section>

<audio
  #audio
  [src]="radioSelected.value"
  preload="auto"
  controls
  style="display: none"
  crossorigin="anonymous"
>
  <source type="audio/mpeg" />
</audio>
