<div class="row text-center">
    <div class="col-6 d-flex justify-content-start">
      <h3 class="text-danger text-uppercase mb-0">{{ viewDate | calendarDate : view + 'ViewTitle' : locale }}</h3>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <div class="btn-group mx-3">
        <ng-container [ngTemplateOutlet]="btnGroupViewDateChange"></ng-container>
      </div>
      <div class="btn-group mx-3">
        <ng-container [ngTemplateOutlet]="btnGroupViewChange"></ng-container>
      </div>
      <div (click)="onToggleLock()" class="btn btn-sm" [ngClass]="isLocked ? 'btn-warning' : 'btn-outline-danger'">
        <i class="fas" [ngClass]="isLocked ? 'fa-lock' : 'fa-unlock'"></i>
      </div>
    </div>
  </div>
  
  <ng-template #btnGroupViewDateChange>
    <div
      class="btn btn-outline-primary btn-sm"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <i class="fas fa-angle-left fa-lg"></i>
    </div>
    <div
      class="btn btn-outline-secondary btn-sm"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      Aujourd'hui
    </div>
    <div
      class="btn btn-outline-primary btn-sm"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <i class="fas fa-angle-right fa-lg"></i>
    </div>
  </ng-template>
  
  <ng-template #btnGroupViewChange>
    <div
      class="btn btn-outline-primary btn-sm"
      (click)="viewChange.emit(CalendarView.Month)"
      [class.active]="view === CalendarView.Month"
    >
      Mois
    </div>
    <div
      class="btn btn-outline-primary btn-sm"
      (click)="viewChange.emit(CalendarView.Week)"
      [class.active]="view === CalendarView.Week"
    >
      Semaine
    </div>
    <div
      class="btn btn-outline-primary btn-sm"
      (click)="viewChange.emit(CalendarView.Day)"
      [class.active]="view === CalendarView.Day"
    >
      Jour
    </div>
  </ng-template>
  