<div class="row">
  <div class="col-6 row-start-center">
    <h3 class="title">{{ viewDate | calendarDate : view + 'ViewTitle' : locale }}</h3>
  </div>
  <div class="col-6 row-end-center">
    <ng-container [ngTemplateOutlet]="btnGroupViewDateChange"></ng-container>
    <ng-container [ngTemplateOutlet]="btnGroupViewChange"></ng-container>
    <button appButton (click)="onToggleLock()"><i [ngClass]="isLocked ? 'fas fa-lock' : 'fas fa-unlock'"></i></button>
  </div>
</div>

<ng-template #btnGroupViewDateChange>
  <app-button-group class="mx-3">
    <button
      appButton
      outline
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <i class="fas fa-angle-left fa-lg"></i>
    </button>
    <button appButton outline mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
      Aujourd'hui
    </button>
    <button
      appButton
      outline
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      <i class="fas fa-angle-right fa-lg"></i>
    </button>
  </app-button-group>
</ng-template>

<ng-template #btnGroupViewChange>
  <app-button-group class="mx-3">
    <button appButton outline (click)="viewChange.emit(CalendarView.Month)" [class.active]="view === CalendarView.Month">
      Mois
    </button>
    <button appButton outline (click)="viewChange.emit(CalendarView.Week)" [class.active]="view === CalendarView.Week">
      Semaine
    </button>
    <button appButton outline (click)="viewChange.emit(CalendarView.Day)" [class.active]="view === CalendarView.Day">
      Jour
    </button>
  </app-button-group>
</ng-template>
