<div class="card" mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
  <div class="card-body">
    <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
    <ul>
      <li
        *ngFor="let event of externalEvents"
        mwlDraggable
        [dropData]="{event: event}"
        [touchStartLongPress]="{delay: 300, delta: 30}"
        dragActiveClass="drag-active"
      >
        <a href="javascript:;" [style.color]="event.color?.primary">
          {{ event.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
