@import 'variables.scss';

.select {
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 31px;
  padding: 0 12px;
  border-radius: $border-radius;
  border: 1px solid $grey-80;
  font-size: 14px;
  transition: all 250ms ease-in-out;
  &:hover {
    border: 1px solid $green;
  }
  &:focus {
    border: 1px solid $blue;
  }
  &:active {
    @extend %box-shadow-active;
  }
}
.dirty {
  font-style: italic;
}

.input-select-container {
  @extend %show-input-label;
  label {
    padding: 0 8px;
    line-height: 24px;
    height: 100%
  }
  select:hover + label {
    color: $green;
  }
  select:active + label,
  select:focus + label {
    transform: translateY(-100%);
    font-size: 10px;
    color: $blue;
    padding: 0;
    line-height: 15px;
    height: 15px;
  }
  select:valid + label {
    transform: translateY(-100%);
    font-size: 10px;
    padding: 0;
    line-height: 15px;
    height: 15px;
  }
}