<div class="input-select-container">

  <ng-container *ngIf="options; else loadingTpl">
    <select
    class="select"
    required
    placeholder=" "
    (ngModelChange)="onModelChange.emit(value)"
    [(ngModel)]="value"
    [compareWith]="compareFn"
  >
    <option *ngFor="let item of options" [ngValue]="item">{{ item.name }}</option>
  </select>
  <label class="row-start-center">
    {{ label + asterix }}
  </label>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="select">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

</div>
<!-- <div class="input-select-container">

  <ng-container *ngIf="fieldSet; else loadingTpl">
    <select
    class="select"
    required
    placeholder=" "
    (ngModelChange)="fieldSetChange.emit(fieldSet.value)"
    [(ngModel)]="fieldSet.value"
    [compareWith]="compareFn"
  >
    <option *ngFor="let item of fieldSet.options" [ngValue]="item">{{ item.name }}</option>
  </select>
  <label class="row-start-center">
    {{ fieldSet.name + asterix }}
  </label>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="select">

      <app-spinner></app-spinner>
    </div>
  </ng-template>

</div> -->