/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/css/angular-calendar.css';

.holiday {
  background-color: #f4cf9b4c;
}
.cal-month-view .cal-cell-top {
  flex: 0 !important;
}
.cal-cell {
  width: 15%;
  cursor: default !important;
  position: relative;
}
.cal-month-view {
  .cal-day-cell .cal-day-number {
      font-weight: 500;
      font-size: 1.5em;
    }
    .cal-day-cell.cal-today {
      box-shadow: 0px 0px 5px 0px #858f8a;
      .cal-day-number {
        font-weight: 600;
        margin-top: 0;
        font-size: 3em;
      }
    }
}

