@import 'variables.scss';

$with: 120px;
$padding: 0 20px 10px 20px;

.column-elt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  img {
    width: 116px;
    padding-right: 8px;
    padding-left: 8px;
  }
  background-color: $grey-100;
}

.small-img {
  height: 80px;
  margin-bottom: -10px;
  margin-top: -10px;
}
.width {
  width: $with;
  background: linear-gradient(180deg, $grey-100 0, $grey-95 80%);
  margin-right: 4px;
}
.temperature {
  font-size: 2em;
  font-weight: bold;
}
.description {
  word-spacing: $with;
  height: 40px;
  display: flex;
  flex-direction: column-reverse;
}
.text {
  line-height: 18px;
  font-size: 14px;
  padding: $padding;
}
.border {
  border-top: 1px solid $grey-80;
  padding-top: 10px;
}
