@import "variables.scss";

input[type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: $grey-97;
    margin-top: 0.25em;
    margin-bottom: 0;
    border: 1px solid $green;
    appearance: none;
    border-radius: 0.25em;
    cursor: pointer;

    &:checked {
        background-color: $green;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }

    & + span {
        white-space: nowrap;
    }
    &:active {
        @extend %box-shadow-active;
    }

    &[readonly] {
        background-color: $grey-95;
        border-color: $grey-90;
        cursor: default;
        pointer-events: none;
    }

    &[readonly]:checked {
        background-color: $grey-80;
        border-color: $grey-70;
    }
}