<ng-container *ngIf="!loading; else spinner">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [weekStartsOn]="1"
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeMonthViewRender($event)"
      [cellTemplate]="customCellTemplate"
      [activeDayIsOpen]="activeDayIsOpen"
      [openDayEventsTemplate]="viewExtra"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</ng-container>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <app-cal-month-cell
    appScrollToday
    [day]="day"
    [locale]="locale"
    [isLocked]="isLocked"
    [viewDate]="viewDate"
    [calRecurringEvents]="calRecurringEvents"
  ></app-cal-month-cell>
</ng-template>

<ng-template #viewExtra let-isOpen="isOpen" let-events="events">
  <app-cal-month-view-comment
    [viewDate]="viewDate"
    [isOpen]="isOpen"
    [events]="events"
    [isLocked]="isLocked"
    [birthdays]="birthdays"
  ></app-cal-month-view-comment>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
