<ng-container *ngIf="!loading; else spinner">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [cellTemplate]="customCellTemplate"
        [activeDayIsOpen]="activeDayIsOpen"
        [openDayEventsTemplate]="viewExtra"
        >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </ng-container>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <app-cal-month-cell  appScrollToday [day]="day" [locale]="locale" [isLocked]="isLocked" [viewDate]="viewDate"></app-cal-month-cell>
</ng-template>

<ng-template #viewExtra let-isOpen="isOpen" let-events="events">
  <app-cal-month-view-comment [viewDate]="viewDate" [isOpen]="isOpen" [events]="events"></app-cal-month-view-comment>
</ng-template>

<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>


