@import 'variables.scss';

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    animation: spin .8s infinite linear;
    border-style: solid;
    border-width: 0.25em;
    border-top-color: $red;
    border-right-color: transparent;
    border-bottom-color: $red;
    border-left-color: $red;
}

.spinner.spinner-btn {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

